<ul>
  <li><%= enum_delete_account_result %></li>
  <li><%= value_update_account_result %></li>
  <li><%= object_create_profile_result %></li>
  <li><%= boolean_update_profile_result %></li>
  <li><%= create_account_result %></li>
</ul>
