<!DOCTYPE html>
<html>
  <head>
    <title>RailsDesignPatterns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <ul>
      <li><%= link_to "Contact Form", new_contact_path %></li>
      <li><%= link_to "Service Objects", service_index_path %></li>
      <li><%= link_to "Presenters", presenter_index_path %></li>
      <li><%= link_to "Decorators", travel_index_path %></li>
      <li><%= link_to "Components", component_index_path %></li>
    </ul>
  </nav>
    <% flash.each do |_, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
  </body>
</html>
